/* styling the title of the table */
#title {
  text-align: center;
  font-family: arial, sans-serif;
}

/* styling the content of the table */
#attendees {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

/* styling the first row of the table content / the row header  */
#attendees th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
